<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Details</title>
    <style>
        html {
            zoom: 0.7;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>User Details</h1>
    <table>
        <thead>
            <tr>
                <th>firstName</th>
                <th>lastName</th>
                <th>fullName</th>
                <th>countryCode</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(i) { %>
            <tr>
                <td><%= i.firstName %></td>
                <td><%= i.lastName %></td>
                <td><%= i.fullName %></td>
                <td><%= i.countryCode %></td>
                <td><%= i.phone %></td>
                <td><%= i.email %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
